<?xml version="1.0" encoding="UTF-8" ?>
<beans
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 用于getBean -->
	<bean id="userBean" class="org.springframework.lantao.UserBean">
		<property name="name" value="liyuanyuan"/>
		<property name="age" value="1111"/>
	</bean>

	<bean id="beanFactoryPostProcessor" class="lantao.BeanFactoryPostProcessor.MyBeanFactoryPostProcessor"/>

</beans>